<!-- dynamic page, changing as the products in the database change. -->

<p id="notice"><%= notice %></p>


<h1>Catalog</h1>
<table class="catalog">
  <% @items.each do |item| %>
    <tr>
      <td>
        <%= item.id %>
        <div class="image">
          <%= link_to (image_tag item.image_url, :style => "height:100px; width:150px"), item %>

        </div>
      </td>
      <td>
        <div class="title">
          <%= link_to item.title, item %> 
        </div>
        <div class="description">
          <%=h item.description %>
        </div>
        
        <div class="category">
          <%=h item.category %>
        </div>
        
        <div class="price">
          <%= number_to_currency(item.price, :unit => "€") %>
        </div>
        
        <div class="links">
          <%= link_to 'Edit', edit_item_path(item), :class => "button", :role => "button" %> |
          <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete, :class => "button", :role => "button" %>
          <%#= link_to 'Add to Cart', cart_path(@item), :class => "button", :role => "button" %>

          <a href="/cart/<%= item.id %>" class="button">Add To Cart</a>
          <br><br>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<p><%= link_to 'New item', new_item_path %></p>
